*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    max-height: 67rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


